body{
text-align:center;
}
#hobby img{
height:200px;
border-style:dashed;
border-color:goldenrod;
border-radius:50%;
}
p{
font-size:25px;
border-style:dotted;
border-color:hotpink;
}
.line{
width:75px;
background-color:black;
height:6px;
margin:8px auto;
}
#hobby{
background:linear-gradient(#ffd4f3 0%, #d4ffff 100%);
}
.menu{
list-style:none;
font-family:sans-serif;
float:right;
top:10px;
right:30px;
cursor:pointer;
color:burlywood;
}
.links{
float:left;
color:burlywood;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
font-family:monospace;
font-size:20px;
}
.links:hover{
background-color:chocolate;
}
#inspirations img{
height:500px;
width:500px;
border:3px;
border-color:black;
}
html{
scroll-behavior:smooth;
}
#Contacts iframe{
width:100%;
}
#inspirations img:hover{
transform:scale(0.9)
}
.contact1 h3{
display:inline;
}