body{
text-align:center;
}
img{
height:200px;
border-style:dashed;
border-color:goldenrod;
border-radius:50%;
}
p{
font-size:25px;
border-style:dotted;
border-color:hotpink;
}
.line{
width:75px;
background-color:black;
height:6px;
margin:8px auto;
}
#hobby{
background:linear-gradient(#ffd4f3 0%, #d4ffff 100%);
}

